* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  cursor: url('apple.png'), pointer;
}

.arrow {
  position: absolute;
  width: 100px;
  height: 100px;
}
